@using bestill.Domain.Entity

@model List<Album>
@{
    ViewBag.Title = "Search";
    Layout = "_Layout";
}

<style>
    .card-buttons-group {
        text-align: right;
        padding: 10px;
    }
</style>

<div class="card-buttons-group">
    <button class="btn btn-danger" id='hideCardsId'>Скрыть</button>
    <button class='btn btn-success' id='showCardsId'>Показать</button>
</div>

<div style="padding: 10px;"></div>

@if (Model is not null){

    <div class="row">
        @foreach (var album in Model)
        {
            <div class="row row-cols-1 col-md-4 text-center">
                <div class="col" style="padding: 10px;">
                    <div class="card">
                        <img width="180" height="300" src=@album.Avatar class="card-img-top" alt="@album.Title">
                        <div class="card-body">
                            <h5 class="card-title">@album.Title</h5>
                            <p class="card-text">@album.YearRelease</p>
                        </div>
                                                <div class="card-body">
                            <a asp-action="GetAlbum" asp-route-id="@album.Id" class="card-link">Перейти</a>
                            

                                <hr/>
                                <a asp-controller="Album" asp-action="Delete" asp-route-id="@album.Id" asp-route-aId="@album.AuthorId" class="btn btn-danger">Удалить</a>
                                <a asp-controller="Album" asp-action="Save" asp-route-id="@album.Id" class="btn btn-primary">Изменить</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>   
}
@section pageScripts {
    <script>
        const hideCardElement = $('#hideCardsId');
        const showCardElement = $('#showCardsId');
        const cardElement = $('.card');
        
        const interval = 2000;
        
        hideCardElement.click(function(){
            hideCardElement.hide(interval);
            showCardElement.show(interval);
            cardElement.hide(interval);
        });
        
        showCardElement.click(function () {
            hideCardElement.show(interval);
            showCardElement.hide(interval);
            cardElement.show(interval);
        });
    </script>
}
